.fa-heart {
  font-size: 20px;
  color: red;
  position: absolute;
  top: -100px;
  animation: heart 80s linear infinite;
  z-index: 10000000;
}

@for $i from 1 through 100 {
  .fa-heart:nth-child(#{$i}) {
    $random-position: random() * 92 + 3;

    animation-delay: random() *
      90s; /* Đặt thời gian trễ ngẫu nhiên từ 0 đến 5 giây */
    left: percentage(
      $random-position / 100
    ); /* Đặt vị trí ngẫu nhiên từ 0% đến 100% */
  }
}

@keyframes heart {
  @for $i from 1 through 100 {
    @if ($i % 2 == 0) {
      #{percentage($i / 100)} {
        color: red;
        transform: translateX(15px);
        font-size: 28px;
      }
    } @else {
      #{percentage($i / 100)} {
        color: pink;
        transform: translateX(0px);
        font-size: 23px;
      }
    }
  }

  100% {
    top: 100%;
    opacity: 0;
    color: yellow;
  }
}
